<div class="page-header">
  <h1>Login</h1>
</div>
<div class="row-fluid">
  <div class="span12">
    <form action="/login" method="post" class="well">
      <label for="email">Username</label>
      <input type="text" name="username" />
      
      <label for="password">Password</label>
      <input type="password" name="password" />
      
      <div class="controls">
        <input type="submit" class="btn btn-success" value="Login" />
      </div>
    </form>
  </div>
</div>