<div class="page-header">
  <h1>Signup</h1>
</div>
<div class="row-fluid">
  <div class="span12">
    <form action="/signup" method="post" class="well">
      <label for="username">Username</label>
      <input type="text" name="username" />
      
      <label for="email">Email</label>
      <input type="text" name="email" />
      
      <label for="password">Password</label>
      <input type="password" name="password" />
      
      <label for="handicap">Handicap</label>
      <input type="text" name="handicap" />
      
      <div class="controls">
        <input type="submit" class="btn btn-success" value="Signup" />
      </div>
      
    </form>
  </div>
</div>